                <div class="comments-area" id="comments-wrapper">
                  <div class="mb-3 comment-form"> 
                      {% if user.is_authenticated %}
                      <h4 class="mb-2">Leave a Comment</h4>
                        {% if status == 'error' %}
                            <div class="text-danger">
                                {{message}}
                            </div>
                        {% elif status == 'success' %}
                            <div class="text-success">
                                {{message}}
                            </div>
                        {% endif %}

                      <form class="comment_form" action="." id="comment_form" method="post">
                            {% csrf_token %}
                            <div class="d-flex flex-lg-row justify-content-lg-between flex-column">
                              <div class="col-lg-10 col-sm-12 mb-2">
                                  <textarea class="form-control" name="comment" id="comment_text" cols="150" rows="5" placeholder="Write Comment"></textarea> 
                              </div>
                              <div class="col-lg-2 col-sm-12">
                                  <button class="btn btn-success btn-block" id="submit_comment">Submit</button>
                              </div>
                            </div>
                      </form>
                      {% endif %}
                  </div>

                  <h4 class="mb-3"><span id="comments_count">{{commentreply}}</span> Response{{comments|pluralize}}</h4>

                  {% for comment in comments %}
                  <div class="comment-list comment-list2 comments-area" id="comments-wrapper2">
                      <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                              <div class="pr-2">
                                  <img class="cmnt-image" src="{{comment.username.profile.image.url}}" alt="{{comment.username.get_full_name}}">
                              </div>

                              <div class="">
                                  <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                          <h5>
                                            <a href="#">{{comment.username.get_full_name|capfirst }}</a>
                                          </h5>
                                          <small class="date"> &nbsp; ({{comment.timestamp}}) </small>
                                    </div>
                                  </div>
                                  <p class="comment">
                                    {{comment.content}}
                                  </p>
                                  
                                  <!-- reply form -->
                                    <div class="border-left">
                                        <div class="mb-3">
                                            <button class="btn btn-sm btn-info text-white reply-btn">
                                                Reply
                                            </button>
                                            <!-- reply form -->
                                            <div class="reply-div" style="display:none">
                                                <form action="." class="reply-form" method="post">
                                                {% csrf_token %}
                                                    <input type="hidden" name="comment_id" value="{{comment.id }}">
                                                    <div class="container-fluid mt-4">
                                                        <div class="d-flex flex-lg-row justify-content-lg-between flex-column">
                                                            <div class="col-lg-10 col-sm-12 mb-2">
                                                                <textarea class="form-control" name="comment" cols="150" rows="3" placeholder="Reply"></textarea> 
                                                            </div>
                                                        
                                                            
                                                            <div class="col-lg-2 col-sm-12">
                                                                <button class="btn btn-block btn-success btn-search">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form> 
                                            </div>
                                        </div>

                                    <!--All Reply-->
                                        <div class="" >
                                            {% for reply in comment.replies.all %}
                                                <div class="d-flex justify-content-between desc-reply ml-3">
                                                    <div class="user justify-content-between d-flex">
                                                    <div class="pr-2">
                                                        <img class="reply_img" style="" src="{{reply.username.profile.image.url}}" alt="">
                                                    </div>
                                                    <div class="desc">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <h6>
                                                                <a href="#">{{reply.username.get_full_name|capfirst}}</a> 
                                                                </h6>
                                                                <small class="date"> &nbsp; ({{reply.timestamp}}) </small>
                                                            </div>
                                                        </div>
                                                        <p class="comment">
                                                            {{reply.content}}
                                                        </p>
                                                    </div>
                                                    <!-- reply -->
                                                    </div>
                                                </div>
                                            {% endfor %}   
                                        </div>
                                    </div>
                                    <!--All Reply-->  
                              </div>
                            </div> 
                      </div>
                  </div>
                  {% endfor %}
                </div>