                    {% load humanize %}
                    {% load random_numbers %}
                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">
                            <aside class="mb-3">
                                <form action="{% url 'kb-home' %}">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder='Search Published KB' name='q'>
                                        <div class="input-group-append">
                                            <button class="btn btn-block btn-success" type="submit"></i> Search</button>
                                        </div>
                                    </div>  
                                </form>
                            </aside>

                            <aside class="mb-3">
                                <h4 class="">Category</h4>
                                <ul class="list-group">
                                    {% for topic in all_topic %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="/kb/?cat={{topic.topic__title}}">{{topic.topic__title}}</a>
                                            <span class="badge badge-warning badge-pill">{{topic.c}}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </aside>

                            <aside class="mb-3">
                                <h4 class="widget_title">Recent KB</h4>
                                <div class="list-group">
                                    {% for post in recent_kb %}
                                    <a href="{% url 'kb-details' post.id post.slug %}" class="list-group-item list-group-item-action">
                                        <p class="mb-1">{{post.title|truncatechars:20}}</p>
                                        <small class="text-muted">{{post.created_at|naturaltime}}</small>
                                    </a>
                                    {% endfor %}
                                </div>
                            </aside>
                            <aside class="mb-3">
                                <h4 class="widget_title">Popular KB</h4>
                                <div class="list-group">
                                    {% for kb in popular_kb %}
                                    <a href="{% url 'kb-details' kb.kb__id kb.kb__slug %}" class="list-group-item list-group-item-action">
                                        <p class="mb-1">{{kb.kb__title|truncatechars:20}}</p>
                                        <small class="text-muted">Views: {{kb.kb_count}}</small>
                                    </a>
                                    {% endfor %}
                                </div>
                            </aside>
                            <aside class="mb-3">
                                <h4 class="widget_title">Tags Available</h4>
                                
                                {% for tag in tags %}
                                
                                <a href="/kb/?tag={{tag.slug}}"><span class="badge" style="background-color:{%random_int%}; color:white">{{tag}}</span></a>
                                {% endfor %}
                            </aside>
                        </div>
                    </div>