{% extends "server/layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Change Master Key {% endblock %} 

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="page-body">
        <div class="container">
            <div class="profile-body">
                <div class="col-md-6 mt-4" style="margin:0 auto;">
                  <h3 class="text-center border-bottom">Change Master Key</h3>
                      <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}

                            {% if errors %}
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ errors }}
                                        </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}


                            {% if master_key_change_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                              {% for error in master_key_change_form.non_field_errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  {{ master_key_change_form.master_key_name.label_tag }}
                                  {{ master_key_change_form.master_key_name.errors }}
                                  {{ master_key_change_form.master_key_name|add_class:'form-control form-control-sm' }}
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                {{ master_key_change_form.current_master_key.label_tag }}
                                {{ master_key_change_form.current_master_key.errors }}
                                {{ master_key_change_form.current_master_key|add_class:'form-control form-control-sm' }}
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  {{ master_key_change_form.master_key.label_tag }}
                                  {{ master_key_change_form.master_key.errors }}
                                  {{ master_key_change_form.master_key|add_class:'form-control form-control-sm' }}
                                </div>
                                <div class="form-group col-md-6">
                                  {{ master_key_change_form.master_key_confirm.label_tag }}
                                  {{ master_key_change_form.master_key_confirm.errors }}
                                  {{ master_key_change_form.master_key_confirm|add_class:'form-control form-control-sm' }}
                                </div>
                              </div>

                          <div class="border-top pt-2">
                              <button type="submit" class="btn btn-success btn-block">Submit</button>
                          </div>
                      </form>                                        
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'js/samrat.js'%}"></script>
{% endblock javascripts %}