{% extends "server/layouts/base.html" %}
{% load static %}
{% block title %} View Service {% endblock %} 


{% block stylesheets %}

  <link rel="stylesheet" href="{% static 'plugins/datatables/css/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/css/responsive.bootstrap5.min.css' %}">

{% endblock stylesheets %}

{% block content %}
<div class="page-body">
    <div class="container-fluid">
        <div class="profile-body">
            <section class="col-lg-12 connectedSortable">
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title">Services</h5>
                    </div>
                    <div class="card-body">
                        <table id="example3" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Site/server Name</th>
                                    <th>IP/URL</th>
                                    <th>Master Key</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Remark</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pass in pass_ins %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{pass.site_server_name}}</td>
                                    <td>{{pass.ip_or_url}}</td>
                                    <td>{{pass.master_key.master_key_name}}</td>
                                    <td id="username-{{pass.id}}">*****</td>
                                    <td id="password-{{pass.id}}">*****</td>
                                    <td>{{pass.remark}}</td>

                                    <td>
                                        <div class="row ml-1">
                                            <a class="mr-1" id="show-btn-{{pass.id}}" href="#" data-toggle="modal" data-target="#view-pass-{{pass.id}}"><button class="btn btn-outline-success btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button></a>

                                            <a class="mr-1" id="edit-btn-{{pass.id}}" href="{% url 'edit_entry' pass.id %}"><button class="btn btn-outline-success btn-sm"><i class="fa fa-edit" aria-hidden="true"></i></button></a>

                                            <a class="mr-1" id="delete-btn-{{pass.id}}" href="#" data-toggle="modal" data-target="#delete-pass-{{pass.id}}"><button class="btn btn-outline-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                        </div>

                                        <div class="modal fade view-pass" id="view-pass-{{pass.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content new-post-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Enter Master Key {{pass.master_key.master_key_name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method=POST id="view-pass-form-{{pass.id}}">
                                                        {% csrf_token %}
                                                        
                                                        <input class="entry-id" name="entry-id" type="hidden" value="{{pass.id}}"></input>
                                                        <label>Master Key: </label>
                                                        <span style="color:red">*</span>
                                                        <input rows="10" type="password" class="form-control view-pass-name" id="pass-id-{{pass.id}}" name="view-pass-name"></input>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success view-pass-btn" id="view-pass-{{pass.id}}" value="Save" data-passid="{{pass.id}}">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="modal fade delete-pass" id="delete-pass-{{pass.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content new-post-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">To Confirm Deletion Enter Master Key {{pass.master_key.master_key_name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method=POST id="delete-pass-form-{{pass.id}}">
                                                        {% csrf_token %}
                                                        
                                                        <input class="entry-id" name="delete-entry-id" type="hidden" value="{{pass.id}}"></input>
                                                        <label>Master Key: </label>
                                                        <span style="color:red">*</span>
                                                        <input rows="10" type="password" class="form-control delete-pass-name" id="pass-id-{{pass.id}}" name="delete-pass-name"></input>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success delete-pass-btn" id="delete-pass-{{pass.id}}" value="Save" data-passid="{{pass.id}}">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/samrat.js'%}"></script>
<script>
    $(function () {
    $('#example3').DataTable({
        // "scrollY": 300,
        "scrollX": false,
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "responsive": false,
    });
    });

</script>

{% endblock javascripts %}