{% extends "server/layouts/base.html" %}
{% load static %}
{% block title %} View M365 License {% endblock %} 


{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/css/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/css/responsive.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bsmultiselect/BsMultiSelect.bs4.min.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-12">

            {% if licenses %}
            <h3 class="text-center">View M365 License Usage</h3>
            <table id="example3" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Branch</th>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Hostname</th>
                        <th>IP Address</th>
                        <th>Date</th>
                        <th>Added By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for license in licenses %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{license.branch}}</td>
                        <td>{{license.user_id}}</td>
                        <td>{{license.user_name}}</td>
                        <td>{{license.hostname}}</td>
                        <td>{{license.ip_address}}</td>
                        <td>{{license.date|date:"d-M-Y"}}</td>
                        <td>{{license.created_by.get_full_name}}</td>
                        <td>
                            <a class="mr-1" id="delete-btn-{{license.id}}" href="#" data-toggle="modal" data-target="#delete-license-{{license.id}}"><button class="btn btn-outline-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                            
                            <div class="modal fade delete-license" id="delete-license-{{license.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content new-post-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Deletion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method=POST id="delete-license-form-{{license.id}}">
                                            {% csrf_token %}
                                            
                                            <input class="entry-id" name="delete-entry-id" type="hidden" value="{{license.id}}"></input>
                                            <label>Are you sure?</label>
                                            
                                            <br>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-warning" data-dismiss="modal">No, Back</button>
                                                <button class="btn btn-success delete-license-btn" id="delete-license-{{license.id}}" value="Save" data-passid="{{license.id}}">Yes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        

            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
<script src="{% static 'plugins/popper/popper.min.js'%}"></script>
<script src="{% static 'plugins/bsmultiselect/BsMultiSelect.bs4.min.js'%}"></script>

<script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'js/samrat.js'%}"></script>

<script>
    $(function () {
    $('#example3').DataTable({
        // "scrollY": 300,
        "scrollX": true,
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "responsive": false,
    });
    });

    $(document).ready(function() {
        $('#multiple-checkboxes1').bsMultiSelect({
          placeholder:'All',
        });
    });
    $(document).ready(function() {
        $('#multiple-checkboxes2').bsMultiSelect({
          placeholder:'All',
        });
    });



</script>

{% endblock javascripts %}