{% extends "server/layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Search Task {% endblock %} 


{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/css/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/css/responsive.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-multiselect/css/BsMultiSelect.min.css' %}">
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />

{% endblock stylesheets %}

  

{% block content %}

    <div class="page-body">
        <div class="container-fluid">
            <div class="profile-body">
                <div class="col-md-4 mt-2 pb-2 border" style="margin:0 auto;">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% if errors %}
                      <div class="alert alert-danger" role="alert">
                        {{ errors }}
                      </div>
                      {% endif %}
                      <div class="row">
                          
                        <div class="col-md-6">
                          <strong>Assigned To:</strong>
                            <select class="form-control form-control-sm" name="assigned_to" id="multiple-checkboxes1" multiple="multiple">
                                <option value="all">All</option>
                                {% for user in all_users %}
                                <option value="{{user.id}}">{{user.get_full_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-6">
                          <strong>Assigned By:</strong>
                            <select class="form-control form-control-sm" name="assigned_by" id="multiple-checkboxes2" multiple="multiple">
                                <option value="all">All</option>
                                {% for user in all_users %}
                                <option value="{{user.id}}">{{user.get_full_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>

                      <div class="row">
                          
                        <div class="col-md-6">
                          <strong>Task Status:</strong>
                            <select class="form-control form-control-sm" name="task_status" id="multiple-checkboxes3" multiple="multiple">
                                <option value="all">All</option>
                                <option value="2">Completed</option>
                                <option value="1">Incomplete</option>
                                <option value="3">Paused</option>
                                <option value="4">Cancelled</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                          <strong>Due Date Criteria:</strong>
                            <select class="form-control form-control-sm" name="task_due" id="multiple-checkboxes4" multiple="multiple">
                                <option value="all">All Task</option>
                                <option value="all">Due Date Passed</option>
                                <option value="all">Due Date not Passed</option>
                            </select>
                        </div>
                      </div>


                      <div class="row">
                          
                        <div class="col-md-6">
                            <strong>Start Date:</strong>
                            <input class="form-control form-control-sm" type="date" id="start-date" name="start-date">
                        </div>

                        <div class="col-md-6">
                          <strong>End or Due Date:</strong>
                          <input class="form-control form-control-sm" type="date" id="end-or-due-date" name="end-or-due-date">
                        </div>
                      </div>

                      
                      <div class="row">
                        <div class="col-md-6">
                            <strong>Task Type:</strong>
                              <select class="form-control form-control-sm" name="task-type" id="multiple-checkboxes5" multiple="multiple">
                                  <option value="all">All</option>
                                  {% for tasktype in all_task_type %}
                                  <option value="{{tasktype.id}}">{{tasktype.type}}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                
                                <input class="form-check-input" type="checkbox" name="summary_report" value="1" id="defaultCheck1">
                                <label for=""><strong>Summary Report</strong></label>
                              </div>
                        </div>

                      </div>       
                      <br>


                      <div class="row">
                        <div class="col-md-6 border-top pt-2">
                          <button name="show" type="submit" class="btn btn-success btn-block">Show</button>
                        </div>
                        <div class="col-md-6 border-top pt-2">
                          <button name="download" type="submit" class="btn btn-success btn-block">Download</button>
                        </div>
                      </div>

                  </form>                                        
                </div>
                
                {% if summary_report %}
                    {% include 'server/taskmanager/cat_wise_report.html' %}
                {% else %}
                    {% include 'server/taskmanager/task_detail_report.html' %}
                {% endif %}

            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
  <script src="{% static 'plugins/popper/popper.min.js'%}"></script>
  <script src="{% static 'plugins/bsmultiselect/BsMultiSelect.bs4.min.js'%}"></script>

  <script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/js/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/js/responsive.bootstrap5.min.js' %}"></script>
    <!-- XDSoft DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


<script>
    $(document).ready(function() {
        $('#multiple-checkboxes1').bsMultiSelect({
          placeholder:'All',
        });
        $('#multiple-checkboxes2').bsMultiSelect({
          placeholder:'All',
        });
        $('#multiple-checkboxes3').bsMultiSelect({
          placeholder:'All',
        });
        $('#multiple-checkboxes4').bsMultiSelect({
          placeholder:'All',
        });
        $('#multiple-checkboxes5').bsMultiSelect({
          placeholder:'All',
        });
    });
</script>
    <script>
      $(function () {
        $('#example3').DataTable({
            // "scrollY": 300,
            "scrollX": true,
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "responsive": false,
        });
      });
    </script>    

    <script>
        $(function () {
            $("#start_date").datetimepicker({
            format: 'd/m/Y',timepicker:false,mask:true,
          });
            $("#end-or-due-date").datetimepicker({
            format: 'd/m/Y',timepicker:false,mask:true
          });    
          });
    </script>
{% endblock javascripts %}