  {% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link">
      <span class="brand-text font-weight-dark">PBL</span>
    </a>
    <!--<a href="/" class="brand-link">
      <img src="{% static 'dashboard/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>-->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{user.profile.image.url}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'profile' %}" class="d-block">
            {{ user.get_full_name}}
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

<!-- SAMRAT Sidebar Menu Start -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
              <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'home' %}" class="nav-link ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                  </a>
                </li>
              </ul>
            </li>

          <!--Start Admin-->
         
            <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
              <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Admin Section 
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'add-server' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add New Physical Server</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'view-server' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Physical Server</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'add-vm' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add VM</p>
                  </a>
                </li>   
                <li class="nav-item">
                  <a href="{% url 'view-vm' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View VM</p>
                  </a>
                </li>                            
              </ul>
            </li>           

           
          <!--End Admin-->   
          <!--Start Report-->

            <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
              <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Reports
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Deposits(Date)</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View Deposits(Member)</p>
                  </a>
                </li>

              </ul>

            </li>           
   
          <!--End Report-->           

            <li class="nav-item">
              <a href="{% url 'signout' %}" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Logout
                <i class="right fas fa-sign-out-alt"></i></p>
              </a>
            </li>


          </ul>

      </nav>
  <!-- SAMRAT Sidebar Menu end -->

      <!-- Sidebar Menu -->
      
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  