{% extends "server/layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Edit Profile - {{request.user.get_full_name}} {% endblock %} 

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="page-body">
        <div class="container">
            <div class="profile-body">
                <div class="col-md-6 mt-4" style="margin:0 auto;">
                  <h3 class="text-center border-bottom">Edit Profile</h3>
                      <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <h6>Member's Name: {{request.user.get_full_name}}</h6>
                          {{form|crispy}}
                          <div class="border-top pt-2">
                              <button type="submit" class="btn btn-success btn-block">Submit</button>
                          </div>
                      </form>                                        
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}